---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/app/installations/48599898/access_tokens
        method: POST
      response:
        body: '{"token":"ghs_WkRbxosofOZnb9H9moNVjOxvnBTUb54GDb7j","expires_at":"2024-03-26T04:31:47Z","permissions":{"members":"write","organization_administration":"write","organization_custom_org_roles":"write","organization_custom_properties":"admin","organization_custom_roles":"write","organization_user_blocking":"write","administration":"write","contents":"write","metadata":"read"},"repository_selection":"all"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"9558b6e0761f892393cee16cd001f3aed5873febb89f0fa2b6bd01b5758792d2"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
        status: 201 Created
        code: 201
        duration: 384.062146ms
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4571"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "429"
        status: 404 Not Found
        code: 404
        duration: 144.756019ms
[...]
    - id: 3
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0","description":"foo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams
        method: POST
      response:
        body: '{"name":"github-operator-test-team0","id":9773836,"node_id":"T_kwDOCbZtfs4AlSMM","slug":"github-operator-test-team0","description":"foo","privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/162950526/team/9773836","html_url":"https://github.com/orgs/eczy-test-org/teams/github-operator-test-team0","members_url":"https://api.github.com/organizations/162950526/team/9773836/members{/member}","repositories_url":"https://api.github.com/organizations/162950526/team/9773836/repos","permission":"pull","parent":null,"created_at":"2024-03-26T03:31:48Z","updated_at":"2024-03-26T03:31:48Z","members_count":0,"repos_count":0,"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":"","location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-03-26T03:24:48Z","archived_at":null,"type":"Organization"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"97fba40f4861a559ddd921ac4920363bdbda0463bf5e1208a6cf89cec3a5fb01"'
            Location:
                - https://api.github.com/organizations/162950526/team/9773836
            X-Accepted-Github-Permissions:
                - members=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4569"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "431"
        status: 201 Created
        code: 201
        duration: 290.095431ms
    - id: 4
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526/team/9773836
        method: PATCH
      response:
        body: '{"name":"github-operator-test-team0","id":9773836,"node_id":"T_kwDOCbZtfs4AlSMM","slug":"git[...]
[...]
    - id: 39
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org
        method: GET
      response:
        body: '{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":null,"location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-03-26T03:24:48Z","archived_at":null,"type":"Organization","total_private_repos":0,"owned_private_repos":0,"private_gists":0,"disk_usage":0,"collaborators":0,"billing_email":"fakeemailfoobar@gmail.com","default_repository_permission":"read","members_can_create_repositories":true,"two_factor_requirement_enabled":false,"members_allowed_repository_creation_type":"all","members_can_create_public_repositories":true,"members_can_create_private_repositories":true,"members_can_create_internal_repositories":false,"members_can_create_pages":true,"members_can_fork_private_repositories":false,"web_commit_signoff_required":false,"members_can_create_public_pages":true,"members_can_create_private_pages":true,"plan":{"name":"free","space":976562499,"private_repos":10000,"filled_seats":1,"seats":0},"advanced_security_enabled_for_new_repositories":false,"dependabot_alerts_enabled_for_new_repositories":false,"dependabot_security_updates_enabled_for_new_repositories":false,"dependency_graph_enabled_for_new_repositories":false,"secret_scanning_enabled_for_new_repositories":false,"secret_scanning_push_protection_enabled_for_new_repositories":false,"secret_scanning_push_protection_custom_link_enabled":false,"secret_scanning_push_protection_custom_link":null,"secret_scanning_validity_checks_enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"c766c5c93307c795e118eb1333d4f2b6fab8ec10a7e6c4025bca22cb06e0d64d"
            Last-Modified:
                - Tue, 26 Mar 2024 03:24:48 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=surtur-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4533"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "467"
        status: 200 OK
        code: 200
        duration: 183.165778ms
[...]
    - id: 43
      request:
        host: api.github.com
        body: |
            {"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","html_url":"https://github.com/eczy-test-org","name":"eczy-test-org","description":"","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2024-03-11T05:08:10Z","updated_at":"2024-03-26T03:24:48Z","total_private_repos":0,"owned_private_repos":0,"private_gist[...]
    - id: 44
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4528"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "472"
        status: 404 Not Found
        code: 404
        duration: 195.17431ms
    - id: 45
      request:
        host: api.github.com
        body: |
            {"name":"testrepo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":777543816,"node_id":"R_kgDOLlhgiA","name":"testrepo","full_name":"eczy-test-org/testrepo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/testrepo","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/testrepo","forks_url":"https://api.github.com/repos/eczy-test-org/testrepo/forks","keys_url":"https://api.github.com/repos/eczy-test-org/testrepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/testrepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/testrepo/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/testrepo/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/testrepo/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/testrepo/events","assignees_url":"https://api.github.com/repos/eczy-test-org/testrepo/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/testrepo/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/testrepo/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/testrepo/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/testrepo/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/testrepo/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/testrepo/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/testrepo/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/testrepo/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/testrepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/testrepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/testrepo/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/testrepo/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/testrepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/testrepo/merges","archive_url":"https://api.github.com/repos/eczy-test-org/testrepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/testrepo/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/testrepo/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/testrepo/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/testrepo/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/testrepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/testrepo/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/testrepo/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/testrepo/deployments","created_at":"2024-03-26T03:31:59Z","updated_at":"2024-03-26T03:31:59Z","pushed_at":"2024-03-26T03:31:59Z","git_url":"git://github.com/eczy-test-org/testrepo.git","ssh_url":"git@github.com:eczy-test-org/testrepo.git","clone_url":"https://github.com/eczy-test-org/testrepo.git","svn_url":"https://github.com/eczy-test-org/testrepo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"a6a965713bcd1b936690dd09cf89dc996e5629eacfd89297933cf0fc05f171f0"'
            Location:
                - https://api.github.com/repos/eczy-test-org/testrepo
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4527"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "473"
        status: 201 Created
        code: 201
        duration: 820.642161ms
[...]
    - id: 47
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"935875878af32c265bd39b0bc043a8a2984a95ed08e853db62f4c27ea101e5ed"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4525"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "475"
        status: 200 OK
        code: 200
        duration: 313.909323ms
[...]
    - id: 56
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo-foo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"935875878af32c265bd39b0bc043a8a2984a95ed08e853db62f4c27ea101e5ed"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4516"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "484"
        status: 200 OK
        code: 200
        duration: 305.857616ms
    - id: 57
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo-foo
        method: GET
      response:
        body: '{"id":777543829,"node_id":"R_kgDOLlhglQ","name":"testrepo-foo","full_name":"eczy-test-org/testrepo-foo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"[...]
[...]
    - id: 77
      request:
        host: api.github.com
        body: |
            {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"eczy-test-org"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4832"
            X-Ratelimit-Reset:
                - "1711426484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "168"
        status: 200 OK
        code: 200
        duration: 199.910155ms
[...]
    - id: 79
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
        method: GET
      response:
        body: '{"id":777543863,"node_id":"R_kgDOLlhgtw","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-r[...]
    - id: 80
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreateBranchProtectionRuleInput!){createBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"repositoryId":"R_kgDOLlhgtw","pattern":"main"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLlhgt84C4s1S","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"main","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"repository":{"id":"R_kgDOLlhgtw","databaseId":777543863,"name":"github-operator-test-branch-protection-test-repo","owner":{"login":"eczy-test-org","id":"O_kgDOCbZtfg"}},"requireLastPushApproval":false,"requiredApprovingReviewCount":null,"requiredDeploymentEnvironments":[],"requiredStatusCheckContexts":[],"requiredStatusChecks":[],"requiresApprovingReviews":false,"requiresCodeOwnerReviews":false,"requiresCommitSignatures":false,"requiresConversationResolution":false,"requiresDeployments":false,"requiresLinearHistory":false,"requiresStatusChecks":false,"requiresStrictStatusChecks":true,"restrictsPushes":false,"restrictsReviewDismissals":false,"reviewDismissalAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4830"
            X-Ratelimit-Reset:
                - "1711426484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "170"
        status: 200 OK
        code: 200
        duration: 426.392854ms
    - id: 81
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateBranchProtectionRuleInput!){updateBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLlhgt84C4s1S","requiredStatusChecks":[]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLlhgt84C4s1S","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"main","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextP[...]
[...]
    - id: 83
      request:
        host: api.github.com
        body: |
[...]
