---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-branch-protection-test-repo","visibility":"public"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":778633133,"node_id":"R_kgDOLmj_rQ","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-repo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo","forks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/forks","keys_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/events","assignees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/merges","archive_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/deployments","created_at":"2024-03-28T04:58:39Z","updated_at":"2024-03-28T04:58:40Z","pushed_at":"2024-03-28T04:58:40Z","git_url":"git://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo.git","ssh_url":"git@github.com:eczy-test-org/github-operator-test-branch-protection-test-repo.git","clone_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo.git","svn_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"362c8e2cf591ed00a4b726cb90d448de3c564a8d46dd7ce20d0e88693759b527"'
            Location:
                - https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4946"
            X-Ratelimit-Reset:
                - "1711604094"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "54"
        status: 201 Created
        code: 201
        duration: 741.65743ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"eczy-test-org"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4900"
            X-Ratelimit-Reset:
                - "1711604700"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "100"
        status: 200 OK
        code: 200
        duration: 188.096903ms
[...]
    - id: 3
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
        method: GET
      response:
        body: '{"id":778633133,"node_id":"R_kgDOLmj_rQ","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-re[...]
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreateBranchProtectionRuleInput!){createBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"repositoryId":"R_kgDOLmj_rQ","pattern":"master"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLmj_rc4C5Cnn","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"master","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"repository":{"id":"R_kgDOLmj_rQ","databaseId":778633133,"name":"github-operator-test-branch-protection-test-repo","owner":{"login":"eczy-test-org","id":"O_kgDOCbZtfg"}},"requireLastPushApproval":false,"requiredApprovingReviewCount":null,"requiredDeploymentEnvironments":[],"requiredStatusCheckContexts":[],"requiredStatusChecks":[],"requiresApprovingReviews":false,"requiresCodeOwnerReviews":false,"requiresCommitSignatures":false,"requiresConversationResolution":false,"requiresDeployments":false,"requiresLinearHistory":false,"requiresStatusChecks":false,"requiresStrictStatusChecks":true,"restrictsPushes":false,"restrictsReviewDismissals":false,"reviewDismissalAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4898"
            X-Ratelimit-Reset:
                - "1711604700"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "102"
        status: 200 OK
        code: 200
        duration: 266.769709ms
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateBranchProtectionRuleInput!){updateBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLmj_rc4C5Cnn","requiredStatusChecks":[]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLmj_rc4C5Cnn","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"master","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNex[...]
[...]
    - id: 7
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on BranchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"nodeId":"BPR_kwDOLmj_rc4C5Cnn"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLmj_rc4C5Cnn","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"master","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"reposito[...]
[...]
    - id: 30
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:DeleteBranchProtectionRuleInput!){deleteBranchProtectionRule(input: $input){clientMutationId}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLmj_1c4C5Cnq"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"deleteBranchProtectionRule":{"clientMutationId":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4878"
            X-Ratelimit-Reset:
                - "1711604700"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "122"
        status: 200 OK
        code: 200
        duration: 276.223023ms
[...]
