---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/app/installations/48599898/access_tokens
        method: POST
      response:
        body: '{"token":"ghs_kBf9awDbnBrJZdWsn89SwDXqgK5bmR27KeQt","expires_at":"2024-04-01T06:27:19Z","permissions":{"members":"write","organization_administration":"write","organization_custom_org_roles":"write","organization_custom_properties":"admin","organization_custom_roles":"write","organization_user_blocking":"write","administration":"write","contents":"write","metadata":"read"},"repository_selection":"all"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"a9b7242c178fcb108892d45c7947f8495717d7187aadc7eb20a9bfac68c33b19"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
        status: 201 Created
        code: 201
        duration: 345.458554ms
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4936"
            X-Ratelimit-Reset:
                - "1711952701"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "64"
        status: 404 Not Found
        code: 404
        duration: 141.454464ms
[...]
    - id: 3
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-testrepo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":780268065,"node_id":"R_kgDOLoHyIQ","name":"github-operator-test-testrepo","full_name":"eczy-test-org/github-operator-test-testrepo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/github-operator-test-testrepo","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo","forks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/forks","keys_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/events","assignees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/merges","archive_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/deployments","created_at":"2024-04-01T05:27:19Z","updated_at":"2024-04-01T05:27:20Z","pushed_at":"2024-04-01T05:27:20Z","git_url":"git://github.com/eczy-test-org/github-operator-test-testrepo.git","ssh_url":"git@github.com:eczy-test-org/github-operator-test-testrepo.git","clone_url":"https://github.com/eczy-test-org/github-operator-test-testrepo.git","svn_url":"https://github.com/eczy-test-org/github-operator-test-testrepo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"4abb358c379f646b37db99bec470d4428bd101e9ca7c0841672e1c6c68536ff6"'
            Location:
                - https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4934"
            X-Ratelimit-Reset:
                - "1711952701"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "66"
        status: 201 Created
        code: 201
        duration: 739.552056ms
[...]
    - id: 5
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"52b95a23cf2b32d5837e27f94022c9efa9875810aaa444c1e768e6e8e3dda800"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4932"
            X-Ratelimit-Reset:
                - "1711952701"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "68"
        status: 200 OK
        code: 200
        duration: 316.132036ms
[...]
    - id: 17
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Repository{databaseId}}}","variables":{"nodeId":"R_kgDOLoHyMA"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"databaseId":780268080}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4969"
            X-Ratelimit-Reset:
                - "1711952703"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "31"
        status: 200 OK
        code: 200
        duration: 184.551288ms
    - id: 18
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repositories/780268080
        method: GET
      response:
        body: '{"id":780268080,"node_id":"R_kgDOLoHyMA","name":"github-operator-test-testrepo","full_name":"eczy-test-org/github-operator-test-testrepo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kg[...]
[...]
    - id: 31
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-foo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"52b95a23cf2b32d5837e27f94022c9efa9875810aaa444c1e768e6e8e3dda800"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4909"
            X-Ratelimit-Reset:
                - "1711952701"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "91"
        status: 200 OK
        code: 200
        duration: 309.540574ms
[...]
    - id: 43
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Repository{databaseId}}}","variables":{"nodeId":"R_kgDOLoHyWA"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":null},"errors":[{"type":"NOT_FOUND","path":["node"],"locations":[{"line":1,"column":20}],"message":"Could not resolve to a node with the global id of ''R_kgDOLoHyWA''."}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4964"
            X-Ratelimit-Reset:
                - "1711952703"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "36"
        status: 200 OK
        code: 200
        duration: 171.87944ms
[...]
    - id: 59
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org
        method: GET
      response:
        body: '{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"github-operator-test-foo","company":null,"blog":null,"location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-04-01T05:26:47Z","archived_at":null,"type":"Organization","total_private_repos":0,"owned_private_repos":0,"private_gists":0,"disk_usage":0,"collaborators":0,"billing_email":"fakeemailfoobar@gmail.com","default_repository_permission":"read","members_can_create_repositories":true,"two_factor_requirement_enabled":false,"members_allowed_repository_creation_type":"all","members_can_create_public_repositories":true,"members_can_create_private_repositories":true,"members_can_create_internal_repositories":false,"members_can_create_pages":true,"members_can_fork_private_repositories":false,"web_commit_signoff_required":false,"members_can_create_public_pages":true,"members_can_create_private_pages":true,"plan":{"name":"free","space":976562499,"private_repos":10000,"filled_seats":1,"seats":0},"advanced_security_enabled_for_new_repositories":false,"dependabot_alerts_enabled_for_new_repositories":false,"dependabot_security_updates_enabled_for_new_repositories":false,"dependency_graph_enabled_for_new_repositories":false,"secret_scanning_enabled_for_new_repositories":false,"secret_scanning_push_protection_enabled_for_new_repositories":false,"secret_scanning_push_protection_custom_link_enabled":false,"secret_scanning_push_protection_custom_link":null,"secret_scanning_validity_checks_enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fb7527b26c0f7ccb2cc0cb4c2bc6cd3daad78d993b6973faf69181e8cbc283f8"
            Last-Modified:
                - Mon, 01 Apr 2024 05:26:47 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=surtur-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4886"
            X-Ratelimit-Reset:
                - "1711952701"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "114"
        status: 200 OK
        code: 200
        duration: 181.905468ms
[...]
    - id: 63
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526
        method: GET
      response:
        body: '{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/or[...]
[...]
    - id: 66
      request:
        host: api.github.com
        body: |
            {"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","html_url":"https://github.com/eczy-test-org","name":"eczy-test-org","description":"","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2024-03-11T05:08:10Z","updated_at":"2024-04-01T05:27:38Z","total_private_repos":0,"owned_private_repos":0,"private_gist[...]
[...]
    - id: 75
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4872"
            X-Ratelimit-Reset:
                - "1711952701"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "128"
        status: 404 Not Found
        code: 404
        duration: 138.091049ms
[...]
    - id: 77
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams
        method: POST
      response:
        body: '{"name":"github-operator-test-team0","id":9811862,"node_id":"T_kwDOCbZtfs4AlbeW","slug":"github-operator-test-team0","description":null,"privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/162950526/team/9811862","html_url":"https://github.com/orgs/eczy-test-org/teams/github-operator-test-team0","members_url":"https://api.github.com/organizations/162950526/team/9811862/members{/member}","repositories_url":"https://api.github.com/organizations/162950526/team/9811862/repos","permission":"pull","parent":null,"created_at":"2024-04-01T05:27:42Z","updated_at":"2024-04-01T05:27:42Z","members_count":0,"repos_count":0,"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.[...]
    - id: 78
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526/team/9811862
        method: PATCH
      response:
        body: '{"name":"github-operator-test-team0","id":9811862,"node_id":"T_kwDOCbZtfs4AlbeW","slug":"gi[...]
    - id: 79
      request:
        host: api.github.com
        body: |
            {"query":"query($cursor:String$login:String!$slug:String!){organization(login: $login){team(slug: $slug){repositories(first: 100, after: $cursor){edges{permission},nodes{id,name},pageInfo{endCursor,hasNextPage}}}}}","variables":{"cursor":null,"login":"eczy-test-org","slug":"github-operator-test-team0"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"organization":{"team":{"repositories":{"edges":[],"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4959"
            X-Ratelimit-Reset:
                - "1711952703"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "41"
        status: 200 OK
        code: 200
        duration: 184.029146ms
[...]
    - id: 117
      request:
        host: api.github.com
        body: |
            {"permission":"pull"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0/repos/eczy-test-org/github-operator-test-team-test
        method: PUT
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write,members=read,metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4843"
            X-Ratelimit-Reset:
                - "1711952701"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "157"
        status: 204 No Content
        code: 204
        duration: 443.760524ms
[...]
    - id: 119
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-team-test
        method: DELETE
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4841"
            X-Ratelimit-Reset:
                - "1711952701"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "159"
        status: 204 No Content
        code: 204
        duration: 279.00264ms
[...]
    - id: 145
      request:
        host: api.github.com
        body: |
            {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"eczy-test-org"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4940"
            X-Ratelimit-Reset:
                - "1711952703"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "60"
        status: 200 OK
        code: 200
        duration: 185.756487ms
[...]
    - id: 147
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
        method: GET
      response:
        body: '{"id":780268255,"node_id":"R_kgDOLoHy3w","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-[...]
    - id: 148
      request:
        host: api.github.com
        body: |
[...]
