---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/app/installations/48599898/access_tokens
        method: POST
      response:
        body: '{"token":"ghs_V6MH8p2ttzGH3yKUdOb00tHcgdLFfW3SgUYp","expires_at":"2024-03-26T04:24:12Z","permissions":{"members":"write","organization_administration":"write","organization_custom_org_roles":"write","organization_custom_properties":"admin","organization_custom_roles":"write","organization_user_blocking":"write","administration":"write","contents":"write","metadata":"read"},"repository_selection":"all"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"c4de3a68f5d6da495e7a90e603bb7dc32f3b28a0de25f63116b1ebc5c6b3e842"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
        status: 201 Created
        code: 201
        duration: 375.524195ms
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4657"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "343"
        status: 404 Not Found
        code: 404
        duration: 130.98944ms
[...]
    - id: 3
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0","description":"foo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams
        method: POST
      response:
        body: '{"name":"github-operator-test-team0","id":9773811,"node_id":"T_kwDOCbZtfs4AlSLz","slug":"github-operator-test-team0","description":"foo","privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/162950526/team/9773811","html_url":"https://github.com/orgs/eczy-test-org/teams/github-operator-test-team0","members_url":"https://api.github.com/organizations/162950526/team/9773811/members{/member}","repositories_url":"https://api.github.com/organizations/162950526/team/9773811/repos","permission":"pull","parent":null,"created_at":"2024-03-26T03:24:12Z","updated_at":"2024-03-26T03:24:12Z","members_count":0,"repos_count":0,"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":"","location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-03-26T03:18:48Z","archived_at":null,"type":"Organization"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"d075af104b71503b7ac4954d7373391602b70310b8b3bea94dff8407588330a9"'
            Location:
                - https://api.github.com/organizations/162950526/team/9773811
            X-Accepted-Github-Permissions:
                - members=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4655"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "345"
        status: 201 Created
        code: 201
        duration: 272.342255ms
    - id: 4
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526/team/9773811
        method: PATCH
      response:
        body: '{"name":"github-operator-test-team0","id":9773811,"node_id":"T_kwDOCbZtfs4AlSLz","slug":"git[...]
[...]
    - id: 39
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-branch-protection-test-repo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":777541654,"node_id":"R_kgDOLlhYFg","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-repo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo","forks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/forks","keys_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/events","assignees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/merges","archive_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/deployments","created_at":"2024-03-26T03:24:21Z","updated_at":"2024-03-26T03:24:21Z","pushed_at":"2024-03-26T03:24:21Z","git_url":"git://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo.git","ssh_url":"git@github.com:eczy-test-org/github-operator-test-branch-protection-test-repo.git","clone_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo.git","svn_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"60ad381295071fe76d180c1704b63e63c1cdba6e9777e6d3e40de5fa0213698d"'
            Location:
                - https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4619"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "381"
        status: 201 Created
        code: 201
        duration: 870.566142ms
    - id: 40
      request:
        host: api.github.com
        body: |
            {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"eczy-test-org"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4869"
            X-Ratelimit-Reset:
                - "1711426484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "131"
        status: 200 OK
        code: 200
        duration: 223.822164ms
[...]
    - id: 42
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
        method: GET
      response:
        body: '{"id":777541654,"node_id":"R_kgDOLlhYFg","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-r[...]
    - id: 43
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreateBranchProtectionRuleInput!){createBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"repositoryId":"R_kgDOLlhYFg","pattern":"main","reviewDismissalActorIds":[],"bypassPullRequestActorIds":[],"bypassForcePushActorIds":[],"pushActorIds":[],"requiredStatusCheckContexts":[],"requiredStatusChecks":[],"requiredDeploymentEnvironments":[]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLlhYFs4C4sxw","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"main","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"repository":{"id":"R_kgDOLlhYFg","databaseId":777541654,"name":"github-operator-test-branch-protection-test-repo","owner":{"login":"eczy-test-org","id":"O_kgDOCbZtfg"}},"requireLastPushApproval":false,"requiredApprovingReviewCount":null,"requiredDeploymentEnvironments":[],"requiredStatusCheckContexts":[],"requiredStatusChecks":[],"requiresApprovingReviews":false,"requiresCodeOwnerReviews":false,"requiresCommitSignatures":false,"requiresConversationResolution":false,"requiresDeployments":false,"requiresLinearHistory":false,"requiresStatusChecks":false,"requiresStrictStatusChecks":true,"restrictsPushes":false,"restrictsReviewDismissals":false,"reviewDismissalAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4867"
            X-Ratelimit-Reset:
                - "1711426484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "133"
        status: 200 OK
        code: 200
        duration: 289.708577ms
    - id: 44
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateBranchProtectionRuleInput!){updateBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLlhYFs4C4sxw","requiredStatusChecks":[]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLlhYFs4C4sxw","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"main","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextP[...]
[...]
    - id: 46
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on BranchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"nodeId":"BPR_kwDOLlhYFs4C4sxw"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLlhYFs4C4sxw","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"main","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"repository[...]
[...]
    - id: 85
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:DeleteBranchProtectionRuleInput!){deleteBranchProtectionRule(input: $input){clientMutationId}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLlhYV84C4sx0"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"deleteBranchProtectionRule":{"clientMutationId":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4834"
            X-Ratelimit-Reset:
                - "1711426484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "166"
        status: 200 OK
        code: 200
        duration: 1.418263337s
[...]
    - id: 88
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4607"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "393"
        status: 404 Not Found
        code: 404
        duration: 135.953089ms
[...]
    - id: 91
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"05c94512151543c32dcb23e14bdf6e37b18d43bed79b78426d73480917cba9ef"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4604"
            X-Ratelimit-Reset:
                - "1711426483"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "396"
        status: 200 OK
        code: 200
        duration: 284.175002ms
[...]
    - id: 100
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo-foo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"05c94512151543c32dcb23e14bdf6e37b18d43bed79b78426d73480917cba9ef"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4595"
            X-Ratelimit-Reset:
[...]
