---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4999"
            X-Ratelimit-Reset:
                - "1711496013"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "1"
        status: 404 Not Found
        code: 404
        duration: 148.921974ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"name":"testrepo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":778001954,"node_id":"R_kgDOLl9eIg","name":"testrepo","full_name":"eczy-test-org/testrepo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/testrepo","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/testrepo","forks_url":"https://api.github.com/repos/eczy-test-org/testrepo/forks","keys_url":"https://api.github.com/repos/eczy-test-org/testrepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/testrepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/testrepo/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/testrepo/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/testrepo/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/testrepo/events","assignees_url":"https://api.github.com/repos/eczy-test-org/testrepo/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/testrepo/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/testrepo/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/testrepo/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/testrepo/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/testrepo/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/testrepo/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/testrepo/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/testrepo/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/testrepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/testrepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/testrepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/testrepo/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/testrepo/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/testrepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/testrepo/merges","archive_url":"https://api.github.com/repos/eczy-test-org/testrepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/testrepo/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/testrepo/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/testrepo/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/testrepo/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/testrepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/testrepo/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/testrepo/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/testrepo/deployments","created_at":"2024-03-26T22:33:33Z","updated_at":"2024-03-26T22:33:34Z","pushed_at":"2024-03-26T22:33:34Z","git_url":"git://github.com/eczy-test-org/testrepo.git","ssh_url":"git@github.com:eczy-test-org/testrepo.git","clone_url":"https://github.com/eczy-test-org/testrepo.git","svn_url":"https://github.com/eczy-test-org/testrepo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"efca4a005eb1abadc2700145e4f18b5b042415efb7645bb24a691d3d9e703bc3"'
            Location:
                - https://api.github.com/repos/eczy-test-org/testrepo
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4998"
            X-Ratelimit-Reset:
                - "1711496013"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "2"
        status: 201 Created
        code: 201
        duration: 748.448847ms
[...]
    - id: 3
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"8ff6c30742ea6cc5451ea3b9d4d768de1818460061888a7f42006d437cce6d7f"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4996"
            X-Ratelimit-Reset:
                - "1711496013"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "4"
        status: 200 OK
        code: 200
        duration: 273.314961ms
[...]
    - id: 12
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo-foo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"8ff6c30742ea6cc5451ea3b9d4d768de1818460061888a7f42006d437cce6d7f"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4987"
            X-Ratelimit-Reset:
                - "1711496013"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "13"
        status: 200 OK
        code: 200
        duration: 276.994221ms
    - id: 13
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/testrepo-foo
        method: GET
      response:
        body: '{"id":778001960,"node_id":"R_kgDOLl9eKA","name":"testrepo-foo","full_name":"eczy-test-org/testrepo-foo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"[...]
[...]
    - id: 33
      request:
        host: api.github.com
        body: |
            {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"eczy-test-org"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4999"
            X-Ratelimit-Reset:
                - "1711496026"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "1"
        status: 200 OK
        code: 200
        duration: 684.694813ms
[...]
    - id: 35
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
        method: GET
      response:
        body: '{"id":778001991,"node_id":"R_kgDOLl9eRw","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-r[...]
    - id: 36
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreateBranchProtectionRuleInput!){createBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"repositoryId":"R_kgDOLl9eRw","pattern":"main"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLl9eR84C42YQ","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"main","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"repository":{"id":"R_kgDOLl9eRw","databaseId":778001991,"name":"github-operator-test-branch-protection-test-repo","owner":{"login":"eczy-test-org","id":"O_kgDOCbZtfg"}},"requireLastPushApproval":false,"requiredApprovingReviewCount":null,"requiredDeploymentEnvironments":[],"requiredStatusCheckContexts":[],"requiredStatusChecks":[],"requiresApprovingReviews":false,"requiresCodeOwnerReviews":false,"requiresCommitSignatures":false,"requiresConversationResolution":false,"requiresDeployments":false,"requiresLinearHistory":false,"requiresStatusChecks":false,"requiresStrictStatusChecks":true,"restrictsPushes":false,"restrictsReviewDismissals":false,"reviewDismissalAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4997"
            X-Ratelimit-Reset:
                - "1711496026"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "3"
        status: 200 OK
        code: 200
        duration: 465.735251ms
    - id: 37
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateBranchProtectionRuleInput!){updateBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLl9eR84C42YQ","requiredStatusChecks":[]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLl9eR84C42YQ","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"main","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextP[...]
[...]
    - id: 39
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on BranchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"nodeId":"BPR_kwDOLl9eR84C42YQ"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLl9eR84C42YQ","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"main","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"repository[...]
[...]
    - id: 78
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:DeleteBranchProtectionRuleInput!){deleteBranchProtectionRule(input: $input){clientMutationId}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLl9ee84C42YZ"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"deleteBranchProtectionRule":{"clientMutationId":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4964"
            X-Ratelimit-Reset:
                - "1711496026"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "36"
        status: 200 OK
        code: 200
        duration: 264.585139ms
[...]
    - id: 81
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4955"
            X-Ratelimit-Reset:
                - "1711496013"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "45"
        status: 404 Not Found
        code: 404
        duration: 129.069585ms
[...]
    - id: 83
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0","description":"foo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams
        method: POST
      response:
        body: '{"name":"github-operator-test-team0","id":9785539,"node_id":"T_kwDOCbZtfs4AlVDD","slug":"github-operator-test-team0","description":"foo","privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/162950526/team/9785539","html_url":"https://github.com/orgs/eczy-test-org/teams/github-operator-test-team0","members_url":"https://api.github.com/organizations/162950526/team/9785539/members{/member}","repositories_url":"https://api.github.com/organizations/162950526/team/9785539/repos","permission":"pull","parent":null,"created_at":"2024-03-26T22:34:01Z","updated_at":"2024-03-26T22:34:01Z","members_count":0,"repos_count":0,"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":"","location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-03-26T22:14:23Z","archived_at":null,"type":"Organization"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"46406dfe05d0f77129d0d5385bd2cc522f7bbebdbd0cd8bccccce2006585dac5"'
            Location:
                - https://api.github.com/organizations/162950526/team/9785539
            X-Accepted-Github-Permissions:
                - members=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4953"
            X-Ratelimit-Reset:
                - "1711496013"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "47"
        status: 201 Created
        code: 201
        duration: 320.555352ms
    - id: 84
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526/team/9785539
        method: PATCH
      response:
        body: '{"name":"github-operator-test-team0","id":9785539,"node_id":"T_kwDOCbZtfs4AlVDD","slug":"gi[...]
    - id: 85
      request:
        host: api.github.com
        body: |
            {"query":"query($cursor:String$login:String!$slug:String!){organization(login: $login){team(slug: $slug){repositories(first: 100, after: $cursor){edges{permission},nodes{id,name},pageInfo{endCursor,hasNextPage}}}}}","variables":{"cursor":null,"login":"eczy-test-org","slug":"github-operator-test-team0"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"organization":{"team":{"repositories":{"edges":[],"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4962"
            X-Ratelimit-Reset:
                - "1711496026"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "38"
        status: 200 OK
        code: 200
        duration: 203.580059ms
[...]
    - id: 118
      request:
        host: api.github.com
        body: |
            {"permission":"admin"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0/repos/eczy-test-org/github-operator-test-test0
        method: PUT
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write,members=read,metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4925"
            X-Ratelimit-Reset:
                - "1711496013"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "75"
        status: 204 No Content
        code: 204
        duration: 326.982258ms
[...]
    - id: 124
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
[...]
