---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/app/installations/48599898/access_tokens
        method: POST
      response:
        body: '{"token":"ghs_HRqwYbAnrWvcCQ5d089SwxbiX7LMHy2TW4Uq","expires_at":"2024-03-26T20:11:40Z","permissions":{"members":"write","organization_administration":"write","organization_custom_org_roles":"write","organization_custom_properties":"admin","organization_custom_roles":"write","organization_user_blocking":"write","administration":"write","contents":"write","metadata":"read"},"repository_selection":"all"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"2005296eedee314e7cf25c8ae807b874a9fbb9c339c12019f8a4d94dfa995198"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
        status: 201 Created
        code: 201
        duration: 354.653233ms
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4906"
            X-Ratelimit-Reset:
                - "1711483696"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "94"
        status: 404 Not Found
        code: 404
        duration: 143.277035ms
[...]
    - id: 3
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0","description":"foo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams
        method: POST
      response:
        body: '{"name":"github-operator-test-team0","id":9784543,"node_id":"T_kwDOCbZtfs4AlUzf","slug":"github-operator-test-team0","description":"foo","privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/162950526/team/9784543","html_url":"https://github.com/orgs/eczy-test-org/teams/github-operator-test-team0","members_url":"https://api.github.com/organizations/162950526/team/9784543/members{/member}","repositories_url":"https://api.github.com/organizations/162950526/team/9784543/repos","permission":"pull","parent":null,"created_at":"2024-03-26T19:11:40Z","updated_at":"2024-03-26T19:11:40Z","members_count":0,"repos_count":0,"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":"","location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-03-26T03:31:58Z","archived_at":null,"type":"Organization"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"513df3ca62c287afcc680cc21cb046140d51312f598b83884855226c00dc2b5c"'
            Location:
                - https://api.github.com/organizations/162950526/team/9784543
            X-Accepted-Github-Permissions:
                - members=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4904"
            X-Ratelimit-Reset:
                - "1711483696"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "96"
        status: 201 Created
        code: 201
        duration: 450.365335ms
    - id: 4
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526/team/9784543
        method: PATCH
      response:
        body: '{"name":"github-operator-test-team0","id":9784543,"node_id":"T_kwDOCbZtfs4AlUzf","slug":"git[...]
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"query($cursor:String$login:String!$slug:String!){organization(login: $login){team(slug: $slug){repositories(first: 100, after: $cursor){edges{permission},nodes{id,name},pageInfo{endCursor,hasNextPage}}}}}","variables":{"cursor":null,"login":"eczy-test-org","slug":"github-operator-test-team0"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"organization":{"team":{"repositories":{"edges":[],"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4943"
            X-Ratelimit-Reset:
                - "1711480876"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "57"
        status: 200 OK
        code: 200
        duration: 196.474722ms
[...]
    - id: 34
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-test0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":777930581,"node_id":"R_kgDOLl5HVQ","name":"github-operator-test-test0","full_name":"eczy-test-org/github-operator-test-test0","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/github-operator-test-test0","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0","forks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/forks","keys_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/events","assignees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/merges","archive_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-test0/deployments","created_at":"2024-03-26T19:11:48Z","updated_at":"2024-03-26T19:11:48Z","pushed_at":"2024-03-26T19:11:48Z","git_url":"git://github.com/eczy-test-org/github-operator-test-test0.git","ssh_url":"git@github.com:eczy-test-org/github-operator-test-test0.git","clone_url":"https://github.com/eczy-test-org/github-operator-test-test0.git","svn_url":"https://github.com/eczy-test-org/github-operator-test-test0","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"3744c2e42a53a680c39620d1f44c71688f032a7d0d324b087a39c0dd65a9e089"'
            Location:
                - https://api.github.com/repos/eczy-test-org/github-operator-test-test0
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4879"
            X-Ratelimit-Reset:
                - "1711483696"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "121"
        status: 201 Created
        code: 201
        duration: 815.137213ms
[...]
    - id: 38
      request:
        host: api.github.com
        body: |
            {"permission":"admin"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0/repos/eczy-test-org/github-operator-test-test0
        method: PUT
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write,members=read,metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4876"
            X-Ratelimit-Reset:
                - "1711483696"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "124"
        status: 204 No Content
        code: 204
        duration: 326.72382ms
[...]
    - id: 40
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-test0
        method: DELETE
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4874"
            X-Ratelimit-Reset:
                - "1711483696"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "126"
        status: 204 No Content
        code: 204
        duration: 269.000806ms
[...]
