---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/app/installations/49185798/access_tokens
        method: POST
      response:
        body: '{"expires_at":"","permissions":{"administration":"write","contents":"write","issues":"write","members":"write","metadata":"read","organization_administration":"write","repository_advisories":"write","security_events":"write"},"repository_selection":"all","token":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"f109fe49576da83ce6bef302e8354bb59a428e183f94e9aac4477dcdf1995cb8"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
        status: 201 Created
        code: 201
        duration: 357.243101ms
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/github-operator-test-organization/teams/github-operator-test-team0
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4852"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "148"
        status: 404 Not Found
        code: 404
        duration: 123.651314ms
[...]
    - id: 3
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/github-operator-test-organization/teams
        method: POST
      response:
        body: '{"name":"github-operator-test-team0","id":9826968,"node_id":"T_kwDOCeLvlc4AlfKY","slug":"github-operator-test-team0","description":null,"privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/165867413/team/9826968","html_url":"https://github.com/orgs/github-operator-test-organization/teams/github-operator-test-team0","members_url":"https://api.github.com/organizations/165867413/team/9826968/members{/member}","repositories_url":"https://api.github.com/organizations/165867413/team/9826968/repos","permission":"pull","parent":null,"created_at":"2024-04-03T05:02:19Z","updated_at":"2024-04-03T05:02:19Z","members_count":0,"repos_count":0,"organization":{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","url":"https://api.github.com/orgs/github-operator-test-organization","repos_url":"https://api.github.com/orgs/github-operator-test-organization/repos","events_url":"https://api.github.com/orgs/github-operator-test-organization/events","hooks_url":"https://api.github.com/orgs/github-operator-test-organization/hooks","issues_url":"https://api.github.com/orgs/github-operator-test-organization/issues","members_url":"https://api.github.com/orgs/github-operator-test-organization/members{/member}","public_members_url":"https://api.github.com/orgs/github-operator-test-organization/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","description":"foobar","name":"foo","company":null,"blog":"","location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/github-operator-test-organization","created_at":"2024-04-03T03:45:50Z","updated_at":"2024-04-03T05:00:36Z","archived_at":null,"type":"Organization"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"77a52c9466b1651b826dea1669d5ae7e8ba3548b72fabf687ffa1ca1fbb935e1"'
            Location:
                - https://api.github.com/organizations/165867413/team/9826968
            X-Accepted-Github-Permissions:
                - members=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4850"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "150"
        status: 201 Created
        code: 201
        duration: 294.590317ms
    - id: 4
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/165867413/team/9826968
        method: PATCH
      response:
        body: '{"name":"github-operator-test-team0","id":9826968,"node_id":"T_kwDOCeLvlc4AlfKY","slug":"git[...]
    - id: 5
      request:
        host: api.github.com
        body: |
            {"query":"query($cursor:String$login:String!$slug:String!){organization(login: $login){team(slug: $slug){repositories(first: 100, after: $cursor){edges{permission},nodes{id,name},pageInfo{endCursor,hasNextPage}}}}}","variables":{"cursor":null,"login":"github-operator-test-organization","slug":"github-operator-test-team0"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"organization":{"team":{"repositories":{"edges":[],"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4924"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "76"
        status: 200 OK
        code: 200
        duration: 242.265794ms
[...]
    - id: 17
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Team{databaseId,organization{databaseId}}}}","variables":{"nodeId":"T_kwDOCeLvlc4AlfKa"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"databaseId":9826970,"organization":{"databaseId":165867413}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4921"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "79"
        status: 200 OK
        code: 200
        duration: 248.864935ms
[...]
    - id: 39
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team-test","visibility":"private"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/github-operator-test-organization/repos
        method: POST
      response:
        body: '{"id":781283833,"node_id":"R_kgDOLpFx-Q","name":"github-operator-test-team-test","full_name":"github-operator-test-organization/github-operator-test-team-test","private":true,"owner":{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","gravatar_id":"","url":"https://api.github.com/users/github-operator-test-organization","html_url":"https://github.com/github-operator-test-organization","followers_url":"https://api.github.com/users/github-operator-test-organization/followers","following_url":"https://api.github.com/users/github-operator-test-organization/following{/other_user}","gists_url":"https://api.github.com/users/github-operator-test-organization/gists{/gist_id}","starred_url":"https://api.github.com/users/github-operator-test-organization/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-operator-test-organization/subscriptions","organizations_url":"https://api.github.com/users/github-operator-test-organization/orgs","repos_url":"https://api.github.com/users/github-operator-test-organization/repos","events_url":"https://api.github.com/users/github-operator-test-organization/events{/privacy}","received_events_url":"https://api.github.com/users/github-operator-test-organization/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/github-operator-test-organization/github-operator-test-team-test","description":null,"fork":false,"url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test","forks_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/forks","keys_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/teams","hooks_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/hooks","issue_events_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/issues/events{/number}","events_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/events","assignees_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/assignees{/user}","branches_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/branches{/branch}","tags_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/tags","blobs_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/statuses/{sha}","languages_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/languages","stargazers_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/stargazers","contributors_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/contributors","subscribers_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/subscribers","subscription_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/subscription","commits_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/contents/{+path}","compare_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/merges","archive_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/downloads","issues_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/issues{/number}","pulls_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/pulls{/number}","milestones_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/milestones{/number}","notifications_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/labels{/name}","releases_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/releases{/id}","deployments_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test/deployments","created_at":"2024-04-03T05:02:27Z","updated_at":"2024-04-03T05:02:27Z","pushed_at":"2024-04-03T05:02:27Z","git_url":"git://github.com/github-operator-test-organization/github-operator-test-team-test.git","ssh_url":"git@github.com:github-operator-test-organization/github-operator-test-team-test.git","clone_url":"https://github.com/github-operator-test-organization/github-operator-test-team-test.git","svn_url":"https://github.com/github-operator-test-organization/github-operator-test-team-test","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","gravatar_id":"","url":"https://api.github.com/users/github-operator-test-organization","html_url":"https://github.com/github-operator-test-organization","followers_url":"https://api.github.com/users/github-operator-test-organization/followers","following_url":"https://api.github.com/users/github-operator-test-organization/following{/other_user}","gists_url":"https://api.github.com/users/github-operator-test-organization/gists{/gist_id}","starred_url":"https://api.github.com/users/github-operator-test-organization/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-operator-test-organization/subscriptions","organizations_url":"https://api.github.com/users/github-operator-test-organization/orgs","repos_url":"https://api.github.com/users/github-operator-test-organization/repos","events_url":"https://api.github.com/users/github-operator-test-organization/events{/privacy}","received_events_url":"https://api.github.com/users/github-operator-test-organization/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"2955d10c30c86ebd8bd6a5a2f36a6d8e68abfc6232bb38b680e250f22391382f"'
            Location:
                - https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4825"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "175"
        status: 201 Created
        code: 201
        duration: 827.459698ms
[...]
    - id: 43
      request:
        host: api.github.com
        body: |
            {"permission":"pull"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/github-operator-test-organization/teams/github-operator-test-team0/repos/github-operator-test-organization/github-operator-test-team-test
        method: PUT
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write,members=read,metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4823"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "177"
        status: 204 No Content
        code: 204
        duration: 285.595488ms
[...]
    - id: 45
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/github-operator-test-organization/github-operator-test-team-test
        method: DELETE
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4821"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "179"
        status: 204 No Content
        code: 204
        duration: 401.530091ms
[...]
    - id: 54
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Team{databaseId,organization{databaseId}}}}","variables":{"nodeId":"T_kwDOCeLvlc4AlfKd"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":null},"errors":[{"type":"NOT_FOUND","path":["node"],"locations":[{"line":1,"column":20}],"message":"Could not resolve to a node with the global id of ''T_kwDOCeLvlc4AlfKd''."}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4909"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "91"
        status: 200 OK
        code: 200
        duration: 167.50533ms
[...]
    - id: 70
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/github-operator-test-organization
        method: GET
      response:
        body: '{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","url":"https://api.github.com/orgs/github-operator-test-organization","repos_url":"https://api.github.com/orgs/github-operator-test-organization/repos","events_url":"https://api.github.com/orgs/github-operator-test-organization/events","hooks_url":"https://api.github.com/orgs/github-operator-test-organization/hooks","issues_url":"https://api.github.com/orgs/github-operator-test-organization/issues","members_url":"https://api.github.com/orgs/github-operator-test-organization/members{/member}","public_members_url":"https://api.github.com/orgs/github-operator-test-organization/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","description":"foobar","name":"foo","company":null,"blog":null,"location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/github-operator-test-organization","created_at":"2024-04-03T03:45:50Z","updated_at":"2024-04-03T05:00:36Z","archived_at":null,"type":"Organization","total_private_repos":0,"owned_private_repos":0,"private_gists":0,"disk_usage":0,"collaborators":0,"billing_email":"eczy3826+ghtest@gmail.com","default_repository_permission":"read","members_can_create_repositories":true,"two_factor_requirement_enabled":false,"members_allowed_repository_creation_type":"all","members_can_create_public_repositories":true,"members_can_create_private_repositories":true,"members_can_create_internal_repositories":false,"members_can_create_pages":true,"members_can_fork_private_repositories":false,"web_commit_signoff_required":false,"members_can_create_public_pages":true,"members_can_create_private_pages":true,"plan":{"name":"free","space":976562499,"private_repos":10000,"filled_seats":1,"seats":0},"advanced_security_enabled_for_new_repositories":false,"dependabot_alerts_enabled_for_new_repositories":false,"dependabot_security_updates_enabled_for_new_repositories":false,"dependency_graph_enabled_for_new_repositories":false,"secret_scanning_enabled_for_new_repositories":false,"secret_scanning_push_protection_enabled_for_new_repositories":false,"secret_scanning_push_protection_custom_link_enabled":false,"secret_scanning_push_protection_custom_link":null,"secret_scanning_validity_checks_enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"df2e3a5f89ec834ca7cf82d23acb6dedc61a5979e888023c43cefb8e149dfb29"
            Last-Modified:
                - Wed, 03 Apr 2024 05:00:36 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=surtur-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4802"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "198"
        status: 200 OK
        code: 200
        duration: 155.909856ms
[...]
    - id: 74
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/165867413
        method: GET
      response:
        body: '{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","url":"https://api.github.com/orgs/github-operator-test-organization","repos_url":"https://api.github.com/orgs/github-operator-test[...]
[...]
    - id: 76
      request:
        host: api.github.com
        body: |
            {"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","html_url":"https://github.com/github-operator-test-organization","name":"foo","description":"foobar","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2024-04-03T03:45:50Z","updated_at":"2024-04-03T05:00:36Z","total_private_repos":0,"[...]
[...]
    - id: 85
      request:
        host: api.github.com
        body: |
            {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"github-operator-test-organization"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4903"
            X-Ratelimit-Reset:
                - "1712123764"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "97"
        status: 200 OK
        code: 200
        duration: 298.872578ms
[...]
    - id: 87
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/github-operator-test-organization/github-operator-test-branch-protection-test-repo
        method: GET
      response:
        body: '{"id":781283892,"node_id":"R_kgDOLpFyNA","name":"github-operator-test-branch-protection-test-repo","full_name":"github-operator-test-organization/githu[...]
    - id: 88
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreateBranchProtectionRuleInput!){createBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"repositoryId":"R_kgDOLpFyNA","pattern":"master"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
[...]
