version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: |
        null
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/app/installations/49185798/access_tokens
      method: POST
    response:
      body: '{"expires_at":"2224-02-14T22:32:43.872313-07:00","permissions":{"administration":"write","contents":"write","issues":"write","members":"write","metadata":"read","organization_administration":"write","repository_advisories":"write","security_events":"write"},"repository_selection":"all","token":""}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"edf1c8008c350e55d31630ac56a194f1011a216f59ea1acb56e41d17abf739bb"'
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.v3; format=json
      status: 201 Created
      code: 201
      duration: 361.600276ms
  - id: 1
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo
      method: GET
    response:
      body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Accepted-Github-Permissions:
          - metadata=read
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4322"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "678"
      status: 404 Not Found
      code: 404
      duration: 122.902343ms
[...]
  - id: 3
    request:
      host: api.github.com
      body: |
        {"name":"github-operator-test-testrepo"}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/orgs/github-operator-test-organization/repos
      method: POST
    response:
      body: '{"id":781292498,"node_id":"R_kgDOLpGT0g","name":"github-operator-test-testrepo","full_name":"github-operator-test-organization/github-operator-test-testrepo","private":false,"owner":{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","gravatar_id":"","url":"https://api.github.com/users/github-operator-test-organization","html_url":"https://github.com/github-operator-test-organization","followers_url":"https://api.github.com/users/github-operator-test-organization/followers","following_url":"https://api.github.com/users/github-operator-test-organization/following{/other_user}","gists_url":"https://api.github.com/users/github-operator-test-organization/gists{/gist_id}","starred_url":"https://api.github.com/users/github-operator-test-organization/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-operator-test-organization/subscriptions","organizations_url":"https://api.github.com/users/github-operator-test-organization/orgs","repos_url":"https://api.github.com/users/github-operator-test-organization/repos","events_url":"https://api.github.com/users/github-operator-test-organization/events{/privacy}","received_events_url":"https://api.github.com/users/github-operator-test-organization/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/github-operator-test-organization/github-operator-test-testrepo","description":null,"fork":false,"url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo","forks_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/forks","keys_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/teams","hooks_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/hooks","issue_events_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/issues/events{/number}","events_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/events","assignees_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/assignees{/user}","branches_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/branches{/branch}","tags_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/tags","blobs_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/statuses/{sha}","languages_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/languages","stargazers_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/stargazers","contributors_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/contributors","subscribers_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/subscribers","subscription_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/subscription","commits_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/issues/comments{/number}","contents_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/contents/{+path}","compare_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/merges","archive_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/downloads","issues_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/issues{/number}","pulls_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/pulls{/number}","milestones_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/milestones{/number}","notifications_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/labels{/name}","releases_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/releases{/id}","deployments_url":"https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/deployments","created_at":"2024-04-03T05:31:47Z","updated_at":"2024-04-03T05:31:48Z","pushed_at":"2024-04-03T05:31:48Z","git_url":"git://github.com/github-operator-test-organization/github-operator-test-testrepo.git","ssh_url":"git@github.com:github-operator-test-organization/github-operator-test-testrepo.git","clone_url":"https://github.com/github-operator-test-organization/github-operator-test-testrepo.git","svn_url":"https://github.com/github-operator-test-organization/github-operator-test-testrepo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","gravatar_id":"","url":"https://api.github.com/users/github-operator-test-organization","html_url":"https://github.com/github-operator-test-organization","followers_url":"https://api.github.com/users/github-operator-test-organization/followers","following_url":"https://api.github.com/users/github-operator-test-organization/following{/other_user}","gists_url":"https://api.github.com/users/github-operator-test-organization/gists{/gist_id}","starred_url":"https://api.github.com/users/github-operator-test-organization/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-operator-test-organization/subscriptions","organizations_url":"https://api.github.com/users/github-operator-test-organization/orgs","repos_url":"https://api.github.com/users/github-operator-test-organization/repos","events_url":"https://api.github.com/users/github-operator-test-organization/events{/privacy}","received_events_url":"https://api.github.com/users/github-operator-test-organization/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"6e157605c5c50843e2512e142b00a92c59be289df0a55902d92d613e47537f74"'
        Location:
          - https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo
        X-Accepted-Github-Permissions:
          - administration=write
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.v3; param=baptiste-preview.nebula-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4320"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "680"
      status: 201 Created
      code: 201
      duration: 836.364261ms
[...]
  - id: 5
    request:
      host: api.github.com
      body: |
        {"names":[]}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repos/github-operator-test-organization/github-operator-test-testrepo/topics
      method: PUT
    response:
      body: '{"names":[]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"1f627ec44563bfdf7612763cb91e7b3582465308092f304bbea7e4b1b309b478"'
        X-Accepted-Github-Permissions:
          - administration=write
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.mercy-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4318"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "682"
      status: 200 OK
      code: 200
      duration: 316.147197ms
[...]
  - id: 17
    request:
      host: api.github.com
      body: |
        {"query":"query($nodeId:ID!){node(id: $nodeId){... on Repository{databaseId}}}","variables":{"nodeId":"R_kgDOLpGT4w"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"node":{"databaseId":781292515}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4653"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "347"
      status: 200 OK
      code: 200
      duration: 174.841495ms
  - id: 18
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repositories/781292515
      method: GET
    response:
      body: '{"id":781292515,"node_id":"R_kgDOLpGT4w","name":"github-operator-test-testrepo","full_name":"github-operator-test-organization/github-operator-test-testrepo","private":false,"owner":{"login":"github-operator-test-organization","id":165867413,"node[...]
[...]
  - id: 31
    request:
      host: api.github.com
      body: |
        {"names":[]}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repos/github-operator-test-organization/github-operator-test-foo/topics
      method: PUT
    response:
      body: '{"names":[]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"1f627ec44563bfdf7612763cb91e7b3582465308092f304bbea7e4b1b309b478"'
        X-Accepted-Github-Permissions:
          - administration=write
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.mercy-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4295"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "705"
      status: 200 OK
      code: 200
      duration: 255.070713ms
[...]
  - id: 43
    request:
      host: api.github.com
      body: |
        {"query":"query($nodeId:ID!){node(id: $nodeId){... on Repository{databaseId}}}","variables":{"nodeId":"R_kgDOLpGUAw"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"node":null},"errors":[{"type":"NOT_FOUND","path":["node"],"locations":[{"line":1,"column":20}],"message":"Could not resolve to a node with the global id of ''R_kgDOLpGUAw''."}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4648"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "352"
      status: 200 OK
      code: 200
      duration: 165.770538ms
[...]
  - id: 59
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/orgs/github-operator-test-organization
      method: GET
    response:
      body: '{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","url":"https://api.github.com/orgs/github-operator-test-organization","repos_url":"https://api.github.com/orgs/github-operator-test-organization/repos","events_url":"https://api.github.com/orgs/github-operator-test-organization/events","hooks_url":"https://api.github.com/orgs/github-operator-test-organization/hooks","issues_url":"https://api.github.com/orgs/github-operator-test-organization/issues","members_url":"https://api.github.com/orgs/github-operator-test-organization/members{/member}","public_members_url":"https://api.github.com/orgs/github-operator-test-organization/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","description":"foobar","name":"foo","company":null,"blog":null,"location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/github-operator-test-organization","created_at":"2024-04-03T03:45:50Z","updated_at":"2024-04-03T05:00:36Z","archived_at":null,"type":"Organization","total_private_repos":0,"owned_private_repos":0,"private_gists":0,"disk_usage":0,"collaborators":0,"billing_email":"eczy3826+ghtest@gmail.com","default_repository_permission":"read","members_can_create_repositories":true,"two_factor_requirement_enabled":false,"members_allowed_repository_creation_type":"all","members_can_create_public_repositories":true,"members_can_create_private_repositories":true,"members_can_create_internal_repositories":false,"members_can_create_pages":true,"members_can_fork_private_repositories":false,"web_commit_signoff_required":false,"members_can_create_public_pages":true,"members_can_create_private_pages":true,"plan":{"name":"free","space":976562499,"private_repos":10000,"filled_seats":1,"seats":0},"advanced_security_enabled_for_new_repositories":false,"dependabot_alerts_enabled_for_new_repositories":false,"dependabot_security_updates_enabled_for_new_repositories":false,"dependency_graph_enabled_for_new_repositories":false,"secret_scanning_enabled_for_new_repositories":false,"secret_scanning_push_protection_enabled_for_new_repositories":false,"secret_scanning_push_protection_custom_link_enabled":false,"secret_scanning_push_protection_custom_link":null,"secret_scanning_validity_checks_enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"485732ca65852a94066eb333c0b71f3945c915085b150ec3081fe710502fcc34"
        Last-Modified:
          - Wed, 03 Apr 2024 05:00:36 GMT
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.v3; param=surtur-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4272"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "728"
      status: 200 OK
      code: 200
      duration: 172.134089ms
[...]
  - id: 63
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/organizations/165867413
      method: GET
    response:
      body: '{"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","url":"https://api.github.com/orgs/github-operator-test-organization","repos_url":"https://api.github.com/orgs/github-operator-test-organization/repos","events_u[...]
[...]
  - id: 65
    request:
      host: api.github.com
      body: |
        {"login":"github-operator-test-organization","id":165867413,"node_id":"O_kgDOCeLvlQ","avatar_url":"https://avatars.githubusercontent.com/u/165867413?v=4","html_url":"https://github.com/github-operator-test-organization","name":"foo","description":"foobar","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2024-04-03T03:45:50Z","updated_at":"2024-04-03T05:00:36Z","total_private_repos":0,"owned_privat[...]
[...]
  - id: 74
    request:
      host: api.github.com
      body: |
        {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"github-operator-test-organization"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4643"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "357"
      status: 200 OK
      code: 200
      duration: 168.094113ms
[...]
  - id: 76
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repos/github-operator-test-organization/github-operator-test-branch-protection-test-repo
      method: GET
    response:
      body: '{"id":781292604,"node_id":"R_kgDOLpGUPA","name":"github-operator-test-branch-protection-test-repo","full_name":"github-operator-test-organization/github-operator-test-branch-protect[...]
  - id: 77
    request:
      host: api.github.com
      body: |
        {"query":"mutation($input:CreateBranchProtectionRuleInput!){createBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"repositoryId":"R_kgDOLpGUPA","pattern":"master"}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"createBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLpGUPM4C5zop","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"master","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"repository":{"id":"R_kgDOLpGUPA","databaseId":781292604,"name":"github-operator-test-branch-protection-test-repo","owner":{"login":"github-operator-test-organization","id":"O_kgDOCeLvlQ"}},"requireLastPushApproval":false,"requiredApprovingReviewCount":null,"requiredDeploymentEnvironments":[],"requiredStatusCheckContexts":[],"requiredStatusChecks":[],"requiresApprovingReviews":false,"requiresCodeOwnerReviews":false,"requiresCommitSignatures":false,"requiresConversationResolution":false,"requiresDeployments":false,"requiresLinearHistory":false,"requiresStatusChecks":false,"requiresStrictStatusChecks":true,"restrictsPushes":false,"restrictsReviewDismissals":false,"reviewDismissalAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4641"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "359"
      status: 200 OK
      code: 200
      duration: 253.739423ms
  - id: 78
    request:
      host: api.github.com
      body: |
        {"query":"mutation($input:UpdateBranchProtectionRuleInput!){updateBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLpGUPM4C5zop","requiredStatusChecks":[]}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"updateBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLpGUPM4C5zop","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"master","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNex[...]
[...]
  - id: 103
    request:
      host: api.github.com
      body: |
        {"query":"mutation($input:DeleteBranchProtectionRuleInput!){deleteBranchProtectionRule(input: $input){clientMutationId}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLpGUY84C5zot"}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"deleteBranchProtectionRule":{"clientMutationId":null}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4621"
        X-Ratelimit-Reset:
          - "1712123764"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "379"
      status: 200 OK
      code: 200
      duration: 376.165449ms
[...]
  - id: 124
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/orgs/github-operator-test-organization/teams/github-operator-test-team0
      method: GET
    response:
      body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
      headers:
[...]
