---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4955"
            X-Ratelimit-Reset:
                - "1711597999"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "45"
        status: 404 Not Found
        code: 404
        duration: 118.153051ms
[...]
    - id: 2
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-testrepo"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":778600453,"node_id":"R_kgDOLmiABQ","name":"github-operator-test-testrepo","full_name":"eczy-test-org/github-operator-test-testrepo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/github-operator-test-testrepo","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo","forks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/forks","keys_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/events","assignees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/merges","archive_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/deployments","created_at":"2024-03-28T02:57:09Z","updated_at":"2024-03-28T02:57:09Z","pushed_at":"2024-03-28T02:57:09Z","git_url":"git://github.com/eczy-test-org/github-operator-test-testrepo.git","ssh_url":"git@github.com:eczy-test-org/github-operator-test-testrepo.git","clone_url":"https://github.com/eczy-test-org/github-operator-test-testrepo.git","svn_url":"https://github.com/eczy-test-org/github-operator-test-testrepo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"77f1b59d8700d16ebac874ec09041a932a86d3ea34d021682335671f2b7a18de"'
            Location:
                - https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4953"
            X-Ratelimit-Reset:
                - "1711597999"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "47"
        status: 201 Created
        code: 201
        duration: 869.121564ms
[...]
    - id: 4
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"75d60c82980b577019dfb0cc187f35ac00767a3fd16237ab832963b4523583b7"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4951"
            X-Ratelimit-Reset:
                - "1711597999"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "49"
        status: 200 OK
        code: 200
        duration: 240.915757ms
[...]
    - id: 16
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Repository{databaseId}}}","variables":{"nodeId":"R_kgDOLmiAFw"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"databaseId":778600471}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4992"
            X-Ratelimit-Reset:
                - "1711598005"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "8"
        status: 200 OK
        code: 200
        duration: 202.875716ms
    - id: 17
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repositories/778600471
        method: GET
      response:
        body: '{"id":778600471,"node_id":"R_kgDOLmiAFw","name":"github-operator-test-testrepo","full_name":"eczy-test-org/github-operator-test-testrepo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kg[...]
[...]
    - id: 30
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-foo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"75d60c82980b577019dfb0cc187f35ac00767a3fd16237ab832963b4523583b7"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4928"
            X-Ratelimit-Reset:
                - "1711597999"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "72"
        status: 200 OK
        code: 200
        duration: 306.335645ms
[...]
    - id: 42
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Repository{databaseId}}}","variables":{"nodeId":"R_kgDOLmiANw"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":null},"errors":[{"type":"NOT_FOUND","path":["node"],"locations":[{"line":1,"column":20}],"message":"Could not resolve to a node with the global id of ''R_kgDOLmiANw''."}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4987"
            X-Ratelimit-Reset:
                - "1711598005"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "13"
        status: 200 OK
        code: 200
        duration: 160.711203ms
[...]
