---
version: 2
interactions:
  - id: 0
    request:
      host: api.github.com
      body: |
        null
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/app/installations/48599898/access_tokens
      method: POST
    response:
      body: '{"token":"ghs_BURM9tuSx8L17KbTD1cvSnrGCldsYT2NA1uG","expires_at":"2024-04-01T19:02:14Z","permissions":{"members":"write","organization_administration":"write","organization_custom_org_roles":"write","organization_custom_properties":"admin","organization_custom_roles":"write","organization_user_blocking":"write","administration":"write","contents":"write","metadata":"read"},"repository_selection":"all"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"4d64a0ea20b4d9a883bb4484d40ea2d7fc723f4626e129ecdef3bc69af90638d"'
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.v3; format=json
      status: 201 Created
      code: 201
      duration: 363.410164ms
  - id: 1
    request:
      host: api.github.com
      body: |
        {"name":"github-operator-test-branch-protection-test-repo","visibility":"public"}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/orgs/eczy-test-org/repos
      method: POST
    response:
      body: '{"id":780552507,"node_id":"R_kgDOLoZJOw","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-repo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo","forks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/forks","keys_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/events","assignees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/merges","archive_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo/deployments","created_at":"2024-04-01T18:02:15Z","updated_at":"2024-04-01T18:02:15Z","pushed_at":"2024-04-01T18:02:15Z","git_url":"git://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo.git","ssh_url":"git@github.com:eczy-test-org/github-operator-test-branch-protection-test-repo.git","clone_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo.git","svn_url":"https://github.com/eczy-test-org/github-operator-test-branch-protection-test-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"66571ace40b142d97ae570e3bd4c5a3e4086597d45b10e41598ebe8ea37f5c2f"'
        Location:
          - https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
        X-Accepted-Github-Permissions:
          - administration=write
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.v3; param=baptiste-preview.nebula-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4999"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "1"
      status: 201 Created
      code: 201
      duration: 899.652338ms
  - id: 2
    request:
      host: api.github.com
      body: |
        {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"eczy-test-org"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4999"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "1"
      status: 200 OK
      code: 200
      duration: 180.178827ms
[...]
  - id: 4
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repos/eczy-test-org/github-operator-test-branch-protection-test-repo
      method: GET
    response:
      body: '{"id":780552507,"node_id":"R_kgDOLoZJOw","name":"github-operator-test-branch-protection-test-repo","full_name":"eczy-test-org/github-operator-test-branch-protection-test-repo","private":false,"owner":{"[...]
  - id: 5
    request:
      host: api.github.com
      body: |
        {"query":"mutation($input:CreateBranchProtectionRuleInput!){createBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"repositoryId":"R_kgDOLoZJOw","pattern":"master"}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"createBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLoZJO84C5jvU","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"master","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"repository":{"id":"R_kgDOLoZJOw","databaseId":780552507,"name":"github-operator-test-branch-protection-test-repo","owner":{"login":"eczy-test-org","id":"O_kgDOCbZtfg"}},"requireLastPushApproval":false,"requiredApprovingReviewCount":null,"requiredDeploymentEnvironments":[],"requiredStatusCheckContexts":[],"requiredStatusChecks":[],"requiresApprovingReviews":false,"requiresCodeOwnerReviews":false,"requiresCommitSignatures":false,"requiresConversationResolution":false,"requiresDeployments":false,"requiresLinearHistory":false,"requiresStatusChecks":false,"requiresStrictStatusChecks":true,"restrictsPushes":false,"restrictsReviewDismissals":false,"reviewDismissalAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4997"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "3"
      status: 200 OK
      code: 200
      duration: 421.779798ms
  - id: 6
    request:
      host: api.github.com
      body: |
        {"query":"mutation($input:UpdateBranchProtectionRuleInput!){updateBranchProtectionRule(input: $input){branchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLoZJO84C5jvU","requiredStatusChecks":[]}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"updateBranchProtectionRule":{"branchProtectionRule":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLoZJO84C5jvU","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"master","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNex[...]
[...]
  - id: 8
    request:
      host: api.github.com
      body: |
        {"query":"query($nodeId:ID!){node(id: $nodeId){... on BranchProtectionRule{allowsDeletions,allowsForcePushes,blocksCreations,bypassForcePushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},bypassPullRequestAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},dismissesStaleReviews,id,isAdminEnforced,lockAllowsFetchAndMerge,lockBranch,pattern,pushAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}},repository{id,databaseId,name,owner{login,id}},requireLastPushApproval,requiredApprovingReviewCount,requiredDeploymentEnvironments,requiredStatusCheckContexts,requiredStatusChecks{app{id,databaseId,slug},context},requiresApprovingReviews,requiresCodeOwnerReviews,requiresCommitSignatures,requiresConversationResolution,requiresDeployments,requiresLinearHistory,requiresStatusChecks,requiresStrictStatusChecks,restrictsPushes,restrictsReviewDismissals,reviewDismissalAllowances(first: 100){nodes{actor{... on App{id,databaseId,slug},... on Team{id,slug},... on User{id,login}}},pageInfo{endCursor,hasNextPage}}}}}","variables":{"nodeId":"BPR_kwDOLoZJO84C5jvU"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"node":{"allowsDeletions":false,"allowsForcePushes":false,"blocksCreations":false,"bypassForcePushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"bypassPullRequestAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"dismissesStaleReviews":false,"id":"BPR_kwDOLoZJO84C5jvU","isAdminEnforced":false,"lockAllowsFetchAndMerge":false,"lockBranch":false,"pattern":"master","pushAllowances":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}},"reposito[...]
[...]
  - id: 31
    request:
      host: api.github.com
      body: |
        {"query":"mutation($input:DeleteBranchProtectionRuleInput!){deleteBranchProtectionRule(input: $input){clientMutationId}}","variables":{"input":{"branchProtectionRuleId":"BPR_kwDOLoZJac4C5jvb"}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"deleteBranchProtectionRule":{"clientMutationId":null}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4977"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "23"
      status: 200 OK
      code: 200
      duration: 407.191344ms
[...]
  - id: 52
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo
      method: GET
    response:
      body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Accepted-Github-Permissions:
          - metadata=read
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4984"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "16"
      status: 404 Not Found
      code: 404
      duration: 135.080363ms
[...]
  - id: 56
    request:
      host: api.github.com
      body: |
        {"names":[]}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/topics
      method: PUT
    response:
      body: '{"names":[]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"c74315c26934a2ec5eef9e333f64fc257553afb3d9eb556cb8e0d4692170eb58"'
        X-Accepted-Github-Permissions:
          - administration=write
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.mercy-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4980"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "20"
      status: 200 OK
      code: 200
      duration: 292.829024ms
[...]
  - id: 69
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repositories/780552665
      method: GET
    response:
      body: '{"id":780552665,"node_id":"R_kgDOLoZJ2Q","name":"github-operator-test-testrepo","full_name":"eczy-test-org/github-operator-test-testrepo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https:[...]
[...]
  - id: 82
    request:
      host: api.github.com
      body: |
        {"names":[]}
      form: {}
      headers:
        Content-Type:
          - application/json
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/repos/eczy-test-org/github-operator-test-foo/topics
      method: PUT
    response:
      body: '{"names":[]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"c74315c26934a2ec5eef9e333f64fc257553afb3d9eb556cb8e0d4692170eb58"'
        X-Accepted-Github-Permissions:
          - administration=write
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.mercy-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4957"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "43"
      status: 200 OK
      code: 200
      duration: 307.84527ms
[...]
  - id: 94
    request:
      host: api.github.com
      body: |
        {"query":"query($nodeId:ID!){node(id: $nodeId){... on Repository{databaseId}}}","variables":{"nodeId":"R_kgDOLoZKCw"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.github.com/graphql
      method: POST
    response:
      body: '{"data":{"node":null},"errors":[{"type":"NOT_FOUND","path":["node"],"locations":[{"line":1,"column":20}],"message":"Could not resolve to a node with the global id of ''R_kgDOLoZKCw''."}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Github-Media-Type:
          - github.v3; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4958"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - graphql
        X-Ratelimit-Used:
          - "42"
      status: 200 OK
      code: 200
      duration: 152.255975ms
[...]
  - id: 110
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/orgs/eczy-test-org
      method: GET
    response:
      body: '{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":null,"location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-04-01T05:27:42Z","archived_at":null,"type":"Organization","total_private_repos":0,"owned_private_repos":0,"private_gists":0,"disk_usage":0,"collaborators":0,"billing_email":"fakeemailfoobar@gmail.com","default_repository_permission":"read","members_can_create_repositories":true,"two_factor_requirement_enabled":false,"members_allowed_repository_creation_type":"all","members_can_create_public_repositories":true,"members_can_create_private_repositories":true,"members_can_create_internal_repositories":false,"members_can_create_pages":true,"members_can_fork_private_repositories":false,"web_commit_signoff_required":false,"members_can_create_public_pages":true,"members_can_create_private_pages":true,"plan":{"name":"free","space":976562499,"private_repos":10000,"filled_seats":1,"seats":0},"advanced_security_enabled_for_new_repositories":false,"dependabot_alerts_enabled_for_new_repositories":false,"dependabot_security_updates_enabled_for_new_repositories":false,"dependency_graph_enabled_for_new_repositories":false,"secret_scanning_enabled_for_new_repositories":false,"secret_scanning_push_protection_enabled_for_new_repositories":false,"secret_scanning_push_protection_custom_link_enabled":false,"secret_scanning_push_protection_custom_link":null,"secret_scanning_validity_checks_enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"faba638dae91e8fa3b1ddc86c8d472d8ffe97ec92169c1a410ecd974d5892dc8"
        Last-Modified:
          - Mon, 01 Apr 2024 05:27:42 GMT
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Github-Media-Type:
          - github.v3; param=surtur-preview; format=json
        X-Ratelimit-Limit:
          - "5000"
        X-Ratelimit-Remaining:
          - "4934"
        X-Ratelimit-Reset:
          - "1711998135"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "66"
      status: 200 OK
      code: 200
      duration: 185.234311ms
[...]
  - id: 114
    request:
      host: api.github.com
      body: ""
      form: {}
      headers:
        X-Github-Api-Version:
          - "2022-11-28"
      url: https://api.github.com/organizations/162950526
      method: GET
    response:
      body: '{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hoo[...]
[...]
  - id: 117
    request:
      host: api.github.com
      body: |
[...]
