---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/app/installations/48599898/access_tokens
        method: POST
      response:
        body: '{"expires_at":"","permissions":{"administration":"write","contents":"write","members":"write","metadata":"read","organization_administration":"write","organization_custom_org_roles":"write","organization_custom_properties":"admin","organization_custom_roles":"write","organization_user_blocking":"write"},"repository_selection":"all","token":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"3e2c5cf437b2a725ad07980c1de0910fd702adcfe6e3c19f8b19e3f9f0fe6ffb"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
        status: 201 Created
        code: 201
        duration: 370.051094ms
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org
        method: GET
      response:
        body: '{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":null,"location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-04-01T18:40:15Z","archived_at":null,"type":"Organization","total_private_repos":0,"owned_private_repos":0,"private_gists":0,"disk_usage":0,"collaborators":0,"billing_email":"fakeemailfoobar@gmail.com","default_repository_permission":"read","members_can_create_repositories":true,"two_factor_requirement_enabled":false,"members_allowed_repository_creation_type":"all","members_can_create_public_repositories":true,"members_can_create_private_repositories":true,"members_can_create_internal_repositories":false,"members_can_create_pages":true,"members_can_fork_private_repositories":false,"web_commit_signoff_required":false,"members_can_create_public_pages":true,"members_can_create_private_pages":true,"plan":{"name":"free","space":976562499,"private_repos":10000,"filled_seats":1,"seats":0},"advanced_security_enabled_for_new_repositories":false,"dependabot_alerts_enabled_for_new_repositories":false,"dependabot_security_updates_enabled_for_new_repositories":false,"dependency_graph_enabled_for_new_repositories":false,"secret_scanning_enabled_for_new_repositories":false,"secret_scanning_push_protection_enabled_for_new_repositories":false,"secret_scanning_push_protection_custom_link_enabled":false,"secret_scanning_push_protection_custom_link":null,"secret_scanning_validity_checks_enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"23c828821cd52ce24032c840c83f4598f01d896056bf50b2a6aa16fd5639bdf6"
            Last-Modified:
                - Mon, 01 Apr 2024 18:40:15 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=surtur-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4999"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "1"
        status: 200 OK
        code: 200
        duration: 174.033796ms
[...]
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Organization{databaseId}}}","variables":{"nodeId":"O_kgDOCbZtfg"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"databaseId":162950526}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4999"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "1"
        status: 200 OK
        code: 200
        duration: 159.684631ms
    - id: 5
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526
        method: GET
      response:
        body: '{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/org[...]
[...]
    - id: 8
      request:
        host: api.github.com
        body: |
            {"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","html_url":"https://github.com/eczy-test-org","name":"eczy-test-org","description":"","public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2024-03-11T05:08:10Z","updated_at":"2024-04-01T18:40:15Z","total_private_repos":0,"owned_private_repos":0,"private_gists[...]
[...]
    - id: 17
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4985"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "15"
        status: 404 Not Found
        code: 404
        duration: 128.915333ms
[...]
    - id: 19
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams
        method: POST
      response:
        body: '{"name":"github-operator-test-team0","id":9816824,"node_id":"T_kwDOCbZtfs4Alcr4","slug":"github-operator-test-team0","description":null,"privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/162950526/team/9816824","html_url":"https://github.com/orgs/eczy-test-org/teams/github-operator-test-team0","members_url":"https://api.github.com/organizations/162950526/team/9816824/members{/member}","repositories_url":"https://api.github.com/organizations/162950526/team/9816824/repos","permission":"pull","parent":null,"created_at":"2024-04-01T22:01:28Z","updated_at":"2024-04-01T22:01:28Z","members_count":0,"repos_count":0,"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":"","location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-04-01T22:01:27Z","archived_at":null,"type":"Organization"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"d2e70b552a0cf5a9f1c4c8fb06069587060f5f979d4cf87bfddb4b5b8e2c2f9a"'
            Location:
                - https://api.github.com/organizations/162950526/team/9816824
            X-Accepted-Github-Permissions:
                - members=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4983"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "17"
        status: 201 Created
        code: 201
        duration: 446.817675ms
    - id: 20
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526/team/9816824
        method: PATCH
      response:
        body: '{"name":"github-operator-test-team0","id":9816824,"node_id":"T_kwDOCbZtfs4Alcr4","slug":"gi[...]
    - id: 21
      request:
        host: api.github.com
        body: |
            {"query":"query($cursor:String$login:String!$slug:String!){organization(login: $login){team(slug: $slug){repositories(first: 100, after: $cursor){edges{permission},nodes{id,name},pageInfo{endCursor,hasNextPage}}}}}","variables":{"cursor":null,"login":"eczy-test-org","slug":"github-operator-test-team0"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"organization":{"team":{"repositories":{"edges":[],"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4997"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "3"
        status: 200 OK
        code: 200
        duration: 174.287781ms
[...]
    - id: 55
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team-test","visibility":"private"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":780637192,"node_id":"R_kgDOLoeUCA","name":"github-operator-test-team-test","full_name":"eczy-test-org/github-operator-test-team-test","private":true,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/github-operator-test-team-test","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test","forks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/forks","keys_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/events","assignees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/merges","archive_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/deployments","created_at":"2024-04-01T22:01:37Z","updated_at":"2024-04-01T22:01:37Z","pushed_at":"2024-04-01T22:01:37Z","git_url":"git://github.com/eczy-test-org/github-operator-test-team-test.git","ssh_url":"git@github.com:eczy-test-org/github-operator-test-team-test.git","clone_url":"https://github.com/eczy-test-org/github-operator-test-team-test.git","svn_url":"https://github.com/eczy-test-org/github-operator-test-team-test","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"a969f71adbf2f5da7fee8518223dea7c7882aa8409edc1ac56aea289b3540dc0"'
            Location:
                - https://api.github.com/repos/eczy-test-org/github-operator-test-team-test
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4958"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "42"
        status: 201 Created
        code: 201
        duration: 773.078257ms
[...]
    - id: 59
      request:
        host: api.github.com
        body: |
            {"permission":"pull"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0/repos/eczy-test-org/github-operator-test-team-test
        method: PUT
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write,members=read,metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4956"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "44"
        status: 204 No Content
        code: 204
        duration: 319.042311ms
[...]
    - id: 61
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-team-test
        method: DELETE
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4954"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "46"
        status: 204 No Content
        code: 204
        duration: 405.304553ms
[...]
    - id: 70
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Team{databaseId,organization{databaseId}}}}","variables":{"nodeId":"T_kwDOCbZtfs4Alcr9"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":null},"errors":[{"type":"NOT_FOUND","path":["node"],"locations":[{"line":1,"column":20}],"message":"Could not resolve to a node with the global id of ''T_kwDOCbZtfs4Alcr9''."}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4982"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "18"
        status: 200 OK
        code: 200
        duration: 165.609908ms
[...]
    - id: 86
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/repos#get-a-repository"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4935"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "65"
        status: 404 Not Found
        code: 404
        duration: 129.368033ms
[...]
    - id: 90
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-testrepo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"abd63f9907282eb1faef8d7d5f6f7e2ff0c900e60f390d3271a7ccf41adcd401"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4931"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "69"
        status: 200 OK
        code: 200
        duration: 388.60419ms
[...]
    - id: 103
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repositories/780637256
        method: GET
      response:
        body: '{"id":780637256,"node_id":"R_kgDOLoeUSA","name":"github-operator-test-testrepo","full_name":"eczy-test-org/github-operator-test-testrepo","private":false,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_k[...]
[...]
    - id: 116
      request:
        host: api.github.com
        body: |
            {"names":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-foo/topics
        method: PUT
      response:
        body: '{"names":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"abd63f9907282eb1faef8d7d5f6f7e2ff0c900e60f390d3271a7ccf41adcd401"'
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.mercy-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4908"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "92"
        status: 200 OK
        code: 200
        duration: 273.414704ms
[...]
    - id: 145
      request:
        host: api.github.com
        body: |
            {"query":"query($branchProtectionRuleCursor:String$repositoryName:String!$repositoryOwner:String!){repository(owner: $repositoryOwner, name: $repositoryName){branchProtectionRules(first: 100, after: $branchProtectionRuleCursor){nodes{id,pattern},pageInfo{endCursor,hasNextPage}}}}","variables":{"branchProtectionRuleCursor":null,"repositoryName":"github-operator-test-branch-protection-test-repo","repositoryOwner":"eczy-test-org"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"branchProtectionRules":{"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4970"
            X-Ratelimit-Reset:
                - "1712012484"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "30"
        status: 200 OK
        code: 200
        duration: 205.525669ms
[...]
    - id: 147
      request:
[...]
