---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0
        method: GET
      response:
        body: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/teams/teams#get-a-team-by-name"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4751"
            X-Ratelimit-Reset:
                - "1711591360"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "249"
        status: 404 Not Found
        code: 404
        duration: 133.760274ms
[...]
    - id: 2
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams
        method: POST
      response:
        body: '{"name":"github-operator-test-team0","id":9794806,"node_id":"T_kwDOCbZtfs4AlXT2","slug":"github-operator-test-team0","description":null,"privacy":"secret","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/162950526/team/9794806","html_url":"https://github.com/orgs/eczy-test-org/teams/github-operator-test-team0","members_url":"https://api.github.com/organizations/162950526/team/9794806/members{/member}","repositories_url":"https://api.github.com/organizations/162950526/team/9794806/repos","permission":"pull","parent":null,"created_at":"2024-03-28T01:15:47Z","updated_at":"2024-03-28T01:15:47Z","members_count":0,"repos_count":0,"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","url":"https://api.github.com/orgs/eczy-test-org","repos_url":"https://api.github.com/orgs/eczy-test-org/repos","events_url":"https://api.github.com/orgs/eczy-test-org/events","hooks_url":"https://api.github.com/orgs/eczy-test-org/hooks","issues_url":"https://api.github.com/orgs/eczy-test-org/issues","members_url":"https://api.github.com/orgs/eczy-test-org/members{/member}","public_members_url":"https://api.github.com/orgs/eczy-test-org/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","description":"","name":"eczy-test-org","company":null,"blog":"","location":null,"email":null,"twitter_username":null,"is_verified":false,"has_organization_projects":true,"has_repository_projects":true,"public_repos":0,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/eczy-test-org","created_at":"2024-03-11T05:08:10Z","updated_at":"2024-03-27T20:32:39Z","archived_at":null,"type":"Organization"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"601154838f993ddbc7f14319907af36caf2d54cbf915c8aa6be949a6a62a4eea"'
            Location:
                - https://api.github.com/organizations/162950526/team/9794806
            X-Accepted-Github-Permissions:
                - members=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4749"
            X-Ratelimit-Reset:
                - "1711591360"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "251"
        status: 201 Created
        code: 201
        duration: 427.210767ms
    - id: 3
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team0"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/organizations/162950526/team/9794806
        method: PATCH
      response:
        body: '{"name":"github-operator-test-team0","id":9794806,"node_id":"T_kwDOCbZtfs4AlXT2","slug":"git[...]
    - id: 4
      request:
        host: api.github.com
        body: |
            {"query":"query($cursor:String$login:String!$slug:String!){organization(login: $login){team(slug: $slug){repositories(first: 100, after: $cursor){edges{permission},nodes{id,name},pageInfo{endCursor,hasNextPage}}}}}","variables":{"cursor":null,"login":"eczy-test-org","slug":"github-operator-test-team0"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"organization":{"team":{"repositories":{"edges":[],"nodes":[],"pageInfo":{"endCursor":null,"hasNextPage":false}}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4903"
            X-Ratelimit-Reset:
                - "1711591360"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "97"
        status: 200 OK
        code: 200
        duration: 193.969705ms
[...]
    - id: 16
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Team{databaseId,organization{databaseId}}}}","variables":{"nodeId":"T_kwDOCbZtfs4AlXT4"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"databaseId":9794808,"organization":{"databaseId":162950526}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4900"
            X-Ratelimit-Reset:
                - "1711591360"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "100"
        status: 200 OK
        code: 200
        duration: 197.974333ms
[...]
    - id: 38
      request:
        host: api.github.com
        body: |
            {"name":"github-operator-test-team-test","visibility":"private"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/repos
        method: POST
      response:
        body: '{"id":778574065,"node_id":"R_kgDOLmgY8Q","name":"github-operator-test-team-test","full_name":"eczy-test-org/github-operator-test-team-test","private":true,"owner":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/eczy-test-org/github-operator-test-team-test","description":null,"fork":false,"url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test","forks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/forks","keys_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/teams","hooks_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/hooks","issue_events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/issues/events{/number}","events_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/events","assignees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/assignees{/user}","branches_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/branches{/branch}","tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/tags","blobs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/refs{/sha}","trees_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/statuses/{sha}","languages_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/languages","stargazers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/stargazers","contributors_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/contributors","subscribers_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/subscribers","subscription_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/subscription","commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/commits{/sha}","git_commits_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/git/commits{/sha}","comments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/comments{/number}","issue_comment_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/issues/comments{/number}","contents_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/contents/{+path}","compare_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/merges","archive_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/downloads","issues_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/issues{/number}","pulls_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/pulls{/number}","milestones_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/milestones{/number}","notifications_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/labels{/name}","releases_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/releases{/id}","deployments_url":"https://api.github.com/repos/eczy-test-org/github-operator-test-team-test/deployments","created_at":"2024-03-28T01:15:56Z","updated_at":"2024-03-28T01:15:56Z","pushed_at":"2024-03-28T01:15:56Z","git_url":"git://github.com/eczy-test-org/github-operator-test-team-test.git","ssh_url":"git@github.com:eczy-test-org/github-operator-test-team-test.git","clone_url":"https://github.com/eczy-test-org/github-operator-test-team-test.git","svn_url":"https://github.com/eczy-test-org/github-operator-test-team-test","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":false,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"private","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","custom_properties":{},"organization":{"login":"eczy-test-org","id":162950526,"node_id":"O_kgDOCbZtfg","avatar_url":"https://avatars.githubusercontent.com/u/162950526?v=4","gravatar_id":"","url":"https://api.github.com/users/eczy-test-org","html_url":"https://github.com/eczy-test-org","followers_url":"https://api.github.com/users/eczy-test-org/followers","following_url":"https://api.github.com/users/eczy-test-org/following{/other_user}","gists_url":"https://api.github.com/users/eczy-test-org/gists{/gist_id}","starred_url":"https://api.github.com/users/eczy-test-org/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eczy-test-org/subscriptions","organizations_url":"https://api.github.com/users/eczy-test-org/orgs","repos_url":"https://api.github.com/users/eczy-test-org/repos","events_url":"https://api.github.com/users/eczy-test-org/events{/privacy}","received_events_url":"https://api.github.com/users/eczy-test-org/received_events","type":"Organization","site_admin":false},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"b69ea048a4e14b5f6dc1dbf3649593fa1283c18b6ba4f7bb87f86e204334f12e"'
            Location:
                - https://api.github.com/repos/eczy-test-org/github-operator-test-team-test
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4724"
            X-Ratelimit-Reset:
                - "1711591360"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "276"
        status: 201 Created
        code: 201
        duration: 702.164478ms
[...]
    - id: 42
      request:
        host: api.github.com
        body: |
            {"permission":"pull"}
        form: {}
        headers:
            Content-Type:
                - application/json
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/eczy-test-org/teams/github-operator-test-team0/repos/eczy-test-org/github-operator-test-team-test
        method: PUT
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write,members=read,metadata=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4722"
            X-Ratelimit-Reset:
                - "1711591360"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "278"
        status: 204 No Content
        code: 204
        duration: 498.05948ms
[...]
    - id: 44
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/eczy-test-org/github-operator-test-team-test
        method: DELETE
      response:
        body: ""
        headers:
            X-Accepted-Github-Permissions:
                - administration=write
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4720"
            X-Ratelimit-Reset:
                - "1711591360"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "280"
        status: 204 No Content
        code: 204
        duration: 283.467496ms
[...]
    - id: 53
      request:
        host: api.github.com
        body: |
            {"query":"query($nodeId:ID!){node(id: $nodeId){... on Team{databaseId,organization{databaseId}}}}","variables":{"nodeId":"T_kwDOCbZtfs4AlXT8"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":null},"errors":[{"type":"NOT_FOUND","path":["node"],"locations":[{"line":1,"column":20}],"message":"Could not resolve to a node with the global id of ''T_kwDOCbZtfs4AlXT8''."}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4888"
            X-Ratelimit-Reset:
                - "1711591360"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "112"
        status: 200 OK
        code: 200
        duration: 194.294157ms
[...]
